# Python バイトコードとキャッシュ
__pycache__/
*.py[cod]
*$py.class

# 仮想環境
_venv/
venv/
ENV/
env/
.Python

# 実行時一時ファイル・ログ
*.tmp
*.bak
*.swp
*.swo

# OS生成ファイル
.DS_Store
Thumbs.db


# IDE / エディタ関連
.vscode/
.idea/
*.code-workspace

_lesson/
**/migrations/*
!**/migrations/__init__.py
